.container {
    margin-top: 10%;
    background-color: rgb(185, 235, 185);
    border: 5px solid green;
    padding: 15px;
}

.header {
    display: flex;
    background:lightblue;
    border:5px solid blue;
    gap:5px;
    margin-bottom: 20px;
    padding:10px;
    height: 100px;
}

.header-content{
    flex: 1;
    padding: 30px;
    border:5px solid rgba(255, 116, 103);
    background-color:rgba(255, 213, 179);
}

.header-content2{
    display: flex;
    flex: 1;
    padding: 5px;
    border:5px solid rgba(255, 116, 103);
    background-color:rgba(255, 213, 179);
    margin-left: 10px;
    margin-right: 10px;
}

.header-content2-center{
    flex: 1;
    padding: 10px;
    text-align: center;
    border:5px solid rgba(253, 6, 23);
    background-color:rgba(255, 184, 196)
}

.main {
    display: flex;
}

.main-container{
    flex: 1;
    padding: 20px;
    background-color:rgba(255, 179, 181);
    border:5px solid rgba(165, 35, 43);
    margin-bottom:20px;
    margin-right:10px;
    height: 240px;
}

.main-container2{
    flex: 1;
}

.main-container-content2{
    padding: 20px;
    background-color:rgba(255, 179, 181);
    border:5px solid rgba(165, 35, 43);
    margin-bottom: 10px;
    height: 115px;
}

.footer{
    display: flex;
    background:lightblue;
    border:5px solid blue;
    gap:5px;
    padding:10px;
    height: 100px;
}

.footer-content{
    flex: 2;
    border:5px solid rgba(93, 79, 192);
    background-color:rgba(223, 217, 253);
}

.footer-content2{
    flex: 1;
    border:5px solid rgba(242, 121, 113);
    background-color:rgba(255, 213, 179);
    padding: 20px;
    text-align: center;
}
